<!DOCTYPE html>

<head>
    <title>Yelp Recommendation Engine</title>
</head>
<h1>Yelp Recommendation Engine</h1>
<h2>CS122 Project</h2> 
<h3>Team: Arif-Chuang-Hori-Teehan</h3>
<p><strong>Page 2</strong></p>


  <u>You searched for:</u> 
  {% for key, value in inputs.items %}
  <i><li>{{value.0}}</i> in <i>{{value.1}}</li></i>
  {% endfor %}

<h4> Please select the exact restaurants you intended. </h4>
<p>If you do not see them, please make your search more specific.</p>

<form action="/recs" method="get">
  {% if matches.r1.0 %}
  <input type="radio" name="r1" value={{ matches.r1.0.2 }}>
  {{ matches.r1.0.0 }}, {{ matches.r1.0.1 }}<br>
  <input type="radio" name="r1" value={{ matches.r1.1.2 }}>
  {{ matches.r1.1.0 }}, {{ matches.r1.1.1 }}<br>
  {% endif %}
  
  <hr width="50%" align="left">

  {% if matches.r2.0 %}
  <input type="radio" name="r2" value={{ matches.r2.0.2 }}> 
  {{ matches.r2.0.0 }} {{ matches.r2.0.1 }}<br>
  <input type="radio" name="r2" value={{ matches.r2.1.2 }}>
  {{ matches.r2.1.0 }}, {{ matches.r2.1.1 }}<br>
  <hr width="50%" align="left">
  {% endif %}

  {% if matches.r3.0 %}
  <input type="radio" name="r3" value={{ matches.r3.0.2 }}> 
  {{ matches.r3.0.0 }} {{ matches.r3.0.1 }}<br>
  <input type="radio" name="r3" value={{ matches.r3.1.2 }}>
  {{ matches.r3.1.0 }}, {{ matches.r3.1.1 }}<br>
  <hr width="50%" align="left">
  {% endif %}

  {% if matches.r4.0 %}
  <input type="radio" name="r4" value={{ matches.r4.0.2 }}> 
  {{ matches.r4.0.0 }} {{ matches.r4.0.1 }}<br>
  <input type="radio" name="r4" value={{ matches.r4.1.2 }}>
  {{ matches.r4.1.0 }}, {{ matches.r4.1.1 }}<br>
  <hr width="50%" align="left">
  {% endif %}


<b>How many recommendation results do you want to see? </b>

<select name='v'>
  <option name='v' value="5">5</option>
  <option name='v' value="6">6</option>
  <option name='v' value="7">7</option>
  <option name='v' value="8">8</option>
  <option name='v' value="9">9</option>
  <option name='v' value="10">10</option>
</select>
<br><br>

  <input type="submit" value="Submit">
</form>


</html>
