<html>

<head>
    <title>Yelp Recommendation Engine</title>
</head>
<h1>Yelp Recommendation Engine</h1>
<h2>CS122 Project</h2> 
<h3>Team: Arif-Chuang-Hori-Teehan</h3>
<p>Page 2</p><br>


{% if not dict %}
<p>You entered no search terms!</p>

  {% else %}
  <p>You searched for:</p><br> 
    <p>
    {% if  dict.n1 %}
      {{dict.n1}}
        {% if dict.l1%}
        in {{dict.l1}}
        {% endif %}
    {% endif %} </p>
    
    <p>
    {% if  dict.n2 %}
      {{dict.n2}}
        {% if dict.l2%}
        in {{dict.l2}}
        {% endif %}
    {% endif %} </p>

    <p>
    {% if  dict.n3 %}
      {{dict.n3}}
        {% if dict.l3%}
        in {{dict.l3}}
        {% endif %}
    {% endif %} </p>

    <p>
    {% if  dict.n3 %}
      {{dict.n3}}
        {% if dict.l3%}
        in {{dict.l3}}
        {% endif %}
    {% endif %} </p>

{% endif %}





</html>
